body{
    margin: 0;
    padding: 0;

}

/*toast*/
.alert{
    position: fixed;
    padding: 20px 60px;
    top: 20px;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
                -webkit-box-reflect: below 1px linear-gradient(transition, #0005);
    color: #fff;
    background-color: #03e9f4;
    transform: translateY(-150px);
    transition: all 300ms ease;
    border-radius: 7px;
    z-index: 99;
}
